<!-- Material form subscription -->
<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-2 ">
      <h6>
        <strong>Boilers</strong>
      </h6>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5">

       <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <table class=" table-hover" style="font-size:12px;font-family: Verdana;">	
                    <form name="slogengboiler" action="index.php" method="post"></form>
                
                    
                
                <tbody><tr><td colspan="2" style="font-size:16px; padding-left:200px;"><b>Boilers</b></td>	  </tr><tr><td><br></td></tr>		
                    <tr>
                        <td><small>Oil Fired Boiler in Operation</small></td>
                    
                            
                                    <td class="input-container">  
                          
                             <input type="hidden" name="sloc" value="">&nbsp;<span style="font-size:16px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            
                <input type="checkbox" name="oilfired" id="oilfired" class="chkPassport" value="">&nbsp;<span style="font-size:14px;"></span>
               
                
                    </td>
                    </tr>
                            <tr>
                        <td><small>Exhaust Gas Boiler in Operation</small></td>
                        
                            <td class="input-container">  
                            
                  
                             <input type="hidden" name="sloc" value="">&nbsp;<span style="font-size:16px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            
                <input type="checkbox" name="exhgasoper" id="exhgasoper" class="chkPassport1" value="">&nbsp;<span style="font-size:14px;"></span>
               
                
                    </td>
                    </tr>
                            <tr>
                        <td><small>Service Steam Press</small></td>
                        
                        
                        <td>
                                            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="" aria-label="sersteampress" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><small>°c</small></span>
              </div>
            </div>
                        </td>
            
                    </tr>
                            <tr>
                        <td><small>Oil Fired Boiler Steam Press</small></td>
                        <td>
                                                        <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="" aria-label="Oil Fired Boiler Steam Press" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><small>Bar</small></span>
              </div>
            </div>
            </td>
                    </tr>
                            <tr>
                        <td><small>Exhaust Boiler Steam Press</small></td>
                            <td>
                                                        <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="" aria-label="Exhaust Boiler Steam Press" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><small>Bar</small></span>
              </div>
            </div>
            </td>
            
                    </tr>
                    
                
                            <tr>
                        <td><small>LP Steam Press</small></td>
                        <td>
                                                        <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><small>Bar</small></span>
              </div>
            </div>
            </td>
            
                    </tr>
            
                            <tr>
                        <td><small>HP Steam Press</small></td>
                                    <td>
                                                        <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="" aria-label="HP Steam Press" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><small>Bar</small></span>
              </div>
            </div>
            </td>
                    </tr>
                    <tr>
                    <td><small>Feed Water Inlet Press.</small></td>
                                            <td>
                                                        <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="" aria-label="Feed Water Inlet Press." aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><small>Bar</small></span>
              </div>
            </div>
            </td>
                    </tr>
                    
                    <tr>
                    <td><small>Hot Well Temp</small></td>
                                                <td>
                                                        <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="" aria-label="Hot Well Temp" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><small>°c</small></span>
              </div>
            </div>
            </td>
                    </tr>
                    <tr>
                    <td><small>Drain Tank Temp</small></td>
                                                        <td>
                                                        <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="" aria-label="Drain Tank Temp" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><small>°c</small></span>
              </div>
            </div>
            </td>
                    </tr>
                    <tr>
                        <td><small>Exhaust Steam Press</small></td>
                                                                <td>
                                                        <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="" aria-label="Exhaust Steam Press" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><small>°c</small></span>
              </div>
            </div>
            </td>
                    </tr>
                    
            </tbody></table>
            </div>
            
            
            
            
            </div> 

    </mdb-card-body>
  
</mdb-card>
<!-- Material form subscription -->
