



<mdb-card >

    <mdb-card-header class="blue white-text text-center py-2">
      <h5>
        <strong>Turbo Charger</strong>
      </h5>
    </mdb-card-header>
  
    
    <mdb-card-body class="px-lg-5">
  
         <div class="row">
            <div class="col">
                  <table style="font-size:12px;font-family: Verdana;">
                                     
            
                        <tbody><tr><td><br></td></tr>
                <tr><td colspan="4" style="font-size:16px;"><b><small>Turbocharger  </small></b></td>
                </tr>	<tr><td><br></td></tr>
            
            <tr>
                        <td><small>  Inlet Air </small></td>
                        <td>
                                                                    <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><small>°c</small></span>
              </div>
            </div>
                        
                        
                        </td>
                </tr>
            
            
                    </tbody></table>
                    <table style="font-size:12px;font-family: Verdana;">
                      <tbody><tr><td><br></td></tr>	<tr>	</tr><tr>
                        <td> </td>
                    
                        <td><small><b>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;# 1 </b></small></td>	
                        <td><small><b>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;# 2 </b></small></td>
                        <td><small><b>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;# 3 </b></small></td>
                        <td><small><b> &nbsp;&nbsp;&nbsp;&nbsp; # 4 </b></small></td>
                </tr>
                
            
                <tr>	<td><small>Exh. In</small></td>
                            <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1">
                         <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><small>°c</small></span></div></div></td>
                </tr>
            
                <tr>
                        <td><small>Exh.out</small></td>
                        <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1">
                         <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><small>°c</small></span></div></div></td>
                </tr>
            
                <tr>
                        <td><small>RPM</small></td>
                        <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1">
                         <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><small>rev/m</small></span></div></div></td>
                </tr>
                
                <tr>
                        <td><small>Filter  ΔP</small></td>
                        <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                        <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1">
                         <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><small>Bar</small></span></div></div></td>
                </tr>
                  </tbody></table>
                  
                 
                  
                  
                  
            </div>
        </div>
   
    </mdb-card-body>
  
</mdb-card>

