<mdb-card class="m-2 p-2" style="width: 450px;" >
    <mdb-card-header class="info-color white-text text-center py-2 ">
      <h6>
        <strong>Report Details</strong>
      </h6>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5 ">
       <!-- Form -->
    <div class="text-center " style="color: #757575;">
        <div class="md-form">
        <input name ="reporttype" type="text" id="materialFormReporttype" class="form-control" mdbInput >
        <label for="materialLoginFormEmail">Report Name</label>
        </div>

        <div class="md-form">
        <input name = "reportnumber" type="text" id="materialReportNumber" class="form-control" mdbInput >
        <label for="materialReportNumber">Report Number</label>
        </div>
        <!-- Password -->
        <div class="md-form">
        <input name ="voyagenumber" type="text" id="materialVoyageNumber" class="form-control" mdbInput >
        <label for="materialVoyageNumber">Voyage Number</label>
        </div>
    </div>
      <!-- Form -->
    </mdb-card-body>
</mdb-card>