<mdb-card class="m-2 p-2" style="width: 450px;">
    <mdb-card-header class="info-color white-text text-center py-2 ">
      <h6>
        <strong>Vessel Details</strong>
      </h6>
    </mdb-card-header>
    <!--Card content-->
    <mdb-card-body class="px-lg-5 ">
     <!-- Form -->
      <div class="text-center " style="color: #757575;">
        <div class="md-form">
            <input name ="imonumber" type="text" id="materialIMONumber" class="form-control" mdbInput >
            <label for="materialIMONumber">IMO Number</label>
        </div>
        <div class="md-form">
            <input name ="vesselname" type="text" id="materialVesselName" class="form-control" mdbInput >
            <label for="materialVesselName">Vessel Name</label>
        </div>
        <div class="md-form">
            <input name ="mastername" type="text" id="materialMasterName" class="form-control" mdbInput >
            <label for="materialMasterName">Master Name</label>
        </div>
        <div class="md-form">
            <input name ="chiefname" type="text" id="materialchiefName" class="form-control" mdbInput >
            <label for="materialMasterName">Chief Officer</label>
        </div>
        <div class="md-form">
            <input name ="chiefEngineer" type="text" id="materialchiefEngineer" class="form-control" mdbInput >
            <label for="materialChiefEngineer">Chief Engineer</label>
        </div>
        <div class="md-form">
            <input name ="secondEngineer" type="text" id="materialSecondEngineer" class="form-control" mdbInput >
            <label for="materialSecondEngineer">Second Engineer</label>
        </div>  
    </div>
      <!-- Form -->
    </mdb-card-body>
</mdb-card>