<!-- Material form subscription -->
<mdb-card>

    <mdb-card-header class="blue white-text text-left py-2">
      <h5>
        <strong>Outlet Temperature</strong>
      </h5>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5">

        <div class="row">
            
            <div class="col" style="padding-right: 0px;">    
              <table class=" table-hover" style="font-size:12px;font-family: Verdana;">	
        <tbody><tr><td><br></td></tr>	<tr>
            
                <td colspan="4" style="font-size:16px;"><b>Outlet Temperature<b></b></b></td>
        </tr>  <tr><td><br></td></tr>	
        <tr>
                <td></td>
                
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 1</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 2</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 3</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 4</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 5</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 6</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 7</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 8</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 9</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 10</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 11</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 12</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 13</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 14</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl 15</small></b></td>
                <td><b><small>&nbsp;&nbsp;&nbsp;&nbsp;Cyl Avg</small></b></td>
        </tr>
        
        <tr>
                <td><small>Cooling Water</small></td>
        
        
        <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                    <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1">
                 <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><small>°c</small></span></div></div></td>
        
        
        
                
        </tr>		
        
        <tr>
                <td><small>Piston Cooling</small></td>
        
            <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                    <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1">
                 <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><small>°c</small></span></div></div></td>
        
        </tr>			
        
        <tr>
                <td><small>Exhaust System</small></td>
        
                <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group "><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1"></div></td>
                    <td><div class="input-group"><input type="text" class="form-control" placeholder="" aria-label="LP Steam Press" aria-describedby="basic-addon1">
                 <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><small>°c</small></span></div></div></td>
        
        </tr>		
        </tbody></table>
          
            </div>
        </div> 
    
    </mdb-card-body>
  
</mdb-card>
<!-- Material form subscription -->
